html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    width: 500px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

header {
    flex: 1;
    text-align: center;
}

main {
    flex: 1;
}

footer {
    flex: 1;
}

header h2 {
    color: purple;
}

header h3 span {
    background-color: lightyellow;
    color: blue;
}

.power {
    background-color: lightgreen;
}

.margin {
    background-color: lightpink;
}

.requirement {
    background-color: lightskyblue;
}

fieldset {
    margin-top: 20px;
}

legend {
    font-size: 16pt;
    color: darkslategray;
}

caption {
    background-color: lightseagreen;
    color: white;
}

tfoot th {
    background-color: cornflowerblue;
    color: white;
}