html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

header {
    flex: 1;
}

main {
    flex: 1;
}

footer {
    flex: 1;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

menu li {
    margin: 5px;
}

header section {
    text-align: center;
}

header h2 {
    color: purple;
}

header section h3 span {
    background-color: lightyellow;
    color: blue;
}

.power {
    background-color: lightgreen;
}

.margin {
    background-color: lightpink;
}

.requirement {
    background-color: lightskyblue;
}

fieldset {
    margin-top: 20px;
}

legend {
    font-size: 16pt;
    color: darkslategray;
}

caption {
    background-color: lightseagreen;
    color: white;
}

tfoot th {
    background-color: cornflowerblue;
    color: white;
}